<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325265634022-s74q79efp5iqg81i25jb038h5ip997uf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325265634022-s74q79efp5iqg81i25jb038h5ip997uf</string>
	<key>API_KEY</key>
	<string>AIzaSyC_AazR4xoHlD2dnKfZkNqOeQZFPxLi7xI</string>
	<key>GCM_SENDER_ID</key>
	<string>325265634022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viaoceanica.up</string>
	<key>PROJECT_ID</key>
	<string>upacores-bf90c</string>
	<key>STORAGE_BUCKET</key>
	<string>upacores-bf90c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325265634022:ios:8d7c34b2f3a6d2803f4127</string>
</dict>
</plist>