.geral{}

.lista_mensagens_favoritos ion-item{
	width:100%;
	padding:0px;
	margin: 0px;
	height:155px;
	background-color: rgb(233,233,233);
	color: white;

}
.tabela_mensagem_fav{
	width:100%;
	height:120px;
	

}

.primeira_fila_mensagem_fav{
	width:100%;
	
	height:100px;
}

.imagem_th_mensagem_fav{
	
	width: 20%;
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;

}
.imagem_th_mensagem_fav div{
	height: 50px;
	width: 50px;
	position:absolute;
	top:20px;
	border-radius:25px;
	background-color:white;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.conteudo_mensagem_fav{
	height: 100px;
	
	
	width:70%;
	margin-right:5%;
	float: right;
	white-space: normal;;
	margin-top: 10px;
	text-align: left;
	overflow: hidden !important; 
}

.conteudo_mensagem_fav .titulo{
	clear: both;
	font-weight: 600;
float: left;

}
.conteudo_mensagem_fav .mensagem{
	clear: both;
	float: left;
	overflow: hidden;
	line-height: 1.1;
	float: left;
}
.tempo_mensagem{
	width:20px;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}

.tabela_mensagem_fav_2{
	width: 100% !important:
	
}

.segunda_fila_mensagem_fav{
	height: 50px;
	width: 100%;
}

.favoritos_favoritos {
	width:11%;
}
.favoritos_favoritos div{
	width:20px;
	height: 20px;
	margin-left:40%;

	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

}

.localizacao_mensagem{
	margin: 0px;
	padding:0px;
}

.localizacao_mensagem button ,.partilhar_mensagem button{
	border:0px;
	background-color: transparent;
	color: rgb(119,195,171);
	font-weight: 600;
}

.data_mensagem{
font-weight: 600;
color: rgb(124,116,115);
margin-right: 10px;
}

.favorito_titulo{
	color:rgb(63,52,60);
}

.favorito_texto{
	color:rgb(154,149,148);
}